body{
    margin: 0px;
    padding: 0px;
}

.bg{
    width:100vw;
    height:100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(200, 198, 198, 0.8)),url("https://wallpapertag.com/wallpaper/full/8/7/e/221119-travel-background-1920x1080-laptop.jpg");
    background-position: center;
    background-size: cover;
    position:relative;
}


#searchText{
    font-size: 15px;
    margin-bottom: 10px;
}
#searchButton{
   
    background-color: black;
    font-size: 15px;
    padding: 4px;
    border-radius: 5px;
    color: white;
    border: none;
}

#searchButton:hover{
    background-color: gray;
    cursor: pointer;
}


#submit{
    display: block;
    margin: auto;
    border: none;
}

#submit:hover{
    background-color: rgb(128, 128, 128);
    color: white;
    cursor: pointer;
}





.addDesignationSection{
    display: none;
    /* border: 2px solid red; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    width: 17%;
    margin: auto;
    margin-top: 50px;
    padding: 15px;
    

}

.addDesignationSection input{
    display: block;
    margin: 10px;
    font-size: 15px;

}